body {
    font-family: Arial, sans-serif;
    background-color: #1a1423; /* Dark background color */
    color: #ffffff; /* White text for contrast */
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: #201b2c; /* Slightly lighter than the body for contrast */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

h1 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    color: #ffffff;
    text-align: left;
}

input[type="number"], input[type="checkbox"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #5a4b66;
    border-radius: 5px;
    background-color: #2b2439; /* Dark input background */
    color: #ffffff;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Blue color for the button */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #ffffff;
}

label input[type="checkbox"] {
    width: auto;
    display: inline-block;
    margin-right: 10px;
}
